---
- name: Setup Kubernetes control node
  hosts: all
  become: yes
  tasks:
    - name: Check if cluster is already initialized
      stat:
        path: /etc/kubernetes/admin.conf
      register: k8s_admin_conf

    - name: Initialize Kubernetes cluster
      command: >
        kubeadm init
        --apiserver-advertise-address=192.168.68.100
        --pod-network-cidr=10.244.0.0/16
        --node-name ctrl
      when: not k8s_admin_conf.stat.exists

    - name: Create .kube directory
      file:
        path: /home/vagrant/.kube
        state: directory
        owner: vagrant
        group: vagrant
        mode: '0755'

    - name: Copy admin.conf to vagrant's kube config
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/vagrant/.kube/config
        remote_src: yes
        owner: vagrant
        group: vagrant
        mode: '0600'

    - name: Copy admin.conf to shared folder for host usage
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /vagrant/admin.conf
        remote_src: yes
        mode: '0644'

    - name: Copy kube-flannel manifest into controller
      copy:
        src: /vagrant/operations/kube-flannel.yml
        dest: /home/vagrant/kube-flannel.yml
        owner: vagrant
        group: vagrant
        mode: '0644'

    - name: Install Flannel CNI
      become_user: vagrant
      environment:
        KUBECONFIG: /home/vagrant/.kube/config
      command: kubectl apply -f /home/vagrant/kube-flannel.yml
      args:
        creates: /home/vagrant/.kube/flannel-installed

    - name: Mark Flannel as installed
      file:
        path: /home/vagrant/.kube/flannel-installed
        state: touch
        owner: vagrant
        group: vagrant

    - name: Generate join command
      shell: kubeadm token create --print-join-command
      register: join_command

    - name: Install Helm via binary
      block:
        - name: Copy Helm from operations folder
          copy:
            src: ../operations/helm-v3.14.0-linux-amd64.tar.gz
            dest: /tmp/helm.tar.gz
            mode: '0644'

        - name: Extract Helm
          unarchive:
            src: /tmp/helm.tar.gz
            dest: /tmp/
            remote_src: yes

        - name: Move Helm to /usr/local/bin
          copy:
            src: /tmp/linux-amd64/helm
            dest: /usr/local/bin/helm
            mode: '0755'
            remote_src: yes
          register: helm_installed

        - name: Remove temporary extraction folder
          file:
            path: /tmp/linux-amd64
            state: absent
          when: helm_installed is changed

    - name: Save join command
      copy:
        content: "{{ join_command.stdout }}"
        dest: /vagrant/join-command.sh
        mode: '0755'
