---
- name: Setup Kubernetes control node
  hosts: all
  tasks:
    - name: Check if cluster is already initialized
      ansible.builtin.stat:
        path: /etc/kubernetes/admin.conf
      register: k8s_admin_conf

    - name: Initialize Kubernetes cluster
      become: true
      ansible.builtin.command: >
        kubeadm init
        --apiserver-advertise-address=192.168.56.100
        --pod-network-cidr=10.244.0.0/16
        --node-name ctrl
      when: not k8s_admin_conf.stat.exists

    - name: Create .kube directory
      ansible.builtin.file:
        path: "{{ ansible_facts['env']['HOME'] }}/.kube"
        state: directory
        mode: '0755'

    - name: Copy admin.conf kube config
      become: true
      ansible.builtin.copy:
        remote_src: true
        src: /etc/kubernetes/admin.conf
        dest: "{{ ansible_facts['env']['HOME'] }}/.kube/config"
        mode: '0600'
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Copy admin.conf to shared folder for host usage
      ansible.builtin.copy:
        remote_src: true
        src: "{{ ansible_facts['env']['HOME'] }}/.kube/config"
        dest: "/vagrant/admin.conf"
        mode: '0644'
      when: ansible_user == "vagrant"

    - name: Copy kube-flannel manifest into controller
      ansible.builtin.copy:
        src: kube-flannel.yml
        dest: "{{ ansible_facts['env']['HOME'] }}/kube-flannel.yml"
        mode: '0644'
      tags:
        - debug

    - name: Install Flannel CNI
      environment:
        KUBECONFIG: "{{ ansible_facts['env']['HOME'] }}/.kube/config"
      ansible.builtin.command: kubectl apply -f {{ ansible_facts['env']['HOME'] }}/kube-flannel.yml
      args:
        creates: "{{ ansible_facts['env']['HOME'] }}/.kube/flannel-installed"

    - name: Mark Flannel as installed
      ansible.builtin.file:
        path: "{{ ansible_facts['env']['HOME'] }}/.kube/flannel-installed"
        state: touch
        mode: '0644'

    - name: Install Helm via binary
      block:
        - name: Download Helm
          ansible.builtin.get_url:
            url: https://get.helm.sh/helm-v3.14.0-linux-amd64.tar.gz
            checksum: sha256:f43e1c3387de24547506ab05d24e5309c0ce0b228c23bd8aa64e9ec4b8206651
            dest: /tmp/helm.tar.gz
            mode: '0644'

        - name: Extract Helm
          ansible.builtin.unarchive:
            remote_src: true
            src: /tmp/helm.tar.gz
            dest: /tmp/

        - name: Move Helm to /usr/local/bin
          become: true
          ansible.builtin.copy:
            remote_src: true
            src: /tmp/linux-amd64/helm
            dest: /usr/local/bin/helm
            mode: '0755'
          register: helm_installed

        - name: Remove temporary extraction folder
          ansible.builtin.file:
            path: /tmp/linux-amd64
            state: absent
          when: helm_installed is changed
