apiVersion: v1
kind: Service
metadata:
  name: {{ include "myapp.fullname" . }}
  labels:
    {{- include "myapp.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: 80
      targetPort: http
    - name: metrics
      port: 9100
      targetPort: metrics
  selector:
    {{- include "myapp.selectorLabels" . | nindent 4 }}
