{{- if .Values.monitoring.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ .Release.Name }}-alerts
  labels:
    release: {{ .Release.Name }}
spec:
  groups:
    - name: app-alerts
      interval: 30s
      rules:
        - alert: HighRequestRate
          expr: sum(rate(index_requests_total[1m])) * 60 > 15
          for: 2m
          labels:
            severity: warning
            namespace: {{ .Release.Namespace }}
          annotations:
            summary: "High request rate detected"
            description: "Service is receiving more than 15 requests per minute for 2 minutes"
{{- end }}
