app:
  name: app-service
  image: ghcr.io/doda25-team7/app-service:0.0.12-SNAPSHOT
  port: 8080
  host: doda.local
  canaryHost: canary.doda.local
  replicaCount: 1

model:
  name: model-service
  image: ghcr.io/doda25-team7/model-service:0.0.12
  port: 8081
  model_url: https://github.com/doda25-team7/model-service/releases/download/model-v.0.0.1/model.joblib
  replicaCount: 1

ingress:
  host: doda.local # Configuration for istio
  className: nginx # configuration for non-virtual ingress controllers

replicaCount: 1

istio:
  enabled: true
  ingressGatewayLabel: ingressgateway

canary:
  enabled: true
  appImage: ghcr.io/doda25-team7/app-service:0.0.12-SNAPSHOT # To be changed when canary app image is deployed
  modelImage: ghcr.io/doda25-team7/model-service:0.0.12
  replicaCount: 1
  stableWeight: 90
  canaryWeight: 10

  className: nginx

# Shadow deployment for model-service - mirrors traffic to evaluate new model versions
# without exposing them to users
shadow:
  enabled: true
  modelImage: ghcr.io/doda25-team7/model-service:latest  # New model version image
  modelUrl: https://github.com/doda25-team7/model-service/releases/download/model-v.0.0.2/model.joblib  # New model version URL
  replicaCount: 1
  mirrorPercentage: 100.0  # Percentage of traffic to mirror (0-100)

monitoring:
  enabled: true

kube-prometheus-stack:
  prometheus:
    ingress:
      enabled: true
      hosts:
        - prometheus.local
      ingressClassName: nginx
    prometheusSpec:
      serviceMonitorSelectorNilUsesHelmValues: false
      podMetadata:
        annotations:
          sidecar.istio.io/inject: "false"
  grafana:
    enabled: true
    podAnnotations:
      sidecar.istio.io/inject: "false"
    ingress:
      enabled: true
      hosts:
        - grafana.local
      ingressClassName: nginx
    sidecar:
      dashboards:
        enabled: true
        label: grafana_dashboard
        searchNamespace: ALL
  alertmanager:
    enabled: true
    alertmanagerSpec:
      podMetadata:
        annotations:
          sidecar.istio.io/inject: "false"
  prometheusOperator:
    admissionWebhooks:
      patch:
        podAnnotations:
          sidecar.istio.io/inject: "false"
  kube-state-metrics:
    podAnnotations:
      sidecar.istio.io/inject: "false"
  prometheus-node-exporter:
    podAnnotations:
      sidecar.istio.io/inject: "false"
