app:
  name: app-service
  image: ghcr.io/doda25-team7/app-service:latest
  port: 8080
  host: doda.local
  metrics:
    enabled: true
    port: 8080
    path: /actuator/prometheus

model:
  name: model-service
  image: ghcr.io/doda25-team7/model-service:latest
  port: 8081
  storage:
    size: 1Gi
    mountPath: /app/data
  metrics:
    enabled: true
    port: 8081
    path: /metrics

monitoring:
  enabled: true
  prometheusRelease: myprom
  scrapeInterval: 30s
replicaCount: 1