app:
  name: app-service
  image: ghcr.io/doda25-team7/app-service:latest
  tag: latest
  port: 8080
  host: doda.local
  replicaCount: 1

model:
  # Common model configuration
  primary_service_name: model-service
  port: 8081
  replicaCount: 1
  metrics:
    enabled: true
    port: 9090
  model_url: https://github.com/doda25-team7/model-service/releases/download/model-v.0.0.1/model.joblib

  # List of model versions to deploy
  versions:
    - version: v1
      name: model-service
      image: ghcr.io/doda25-team7/model-service:0.0.11
    - version: v2
      name: model-service-v2
      image: ghcr.io/doda25-team7/model-service:0.0.12

ingress:
  className: nginx

monitoring:
  enabled: true
  prometheusRelease: myprom

istio:
  enabled: true