app:
  name: app-service
  image: ghcr.io/doda25-team7/app-service:latest
  tag: latest
  port: 8080
  host: doda.local
  replicaCount: 1

model:
  name: model-service
  image: ghcr.io/doda25-team7/model-service:latest
  port: 8081
<<<<<<< HEAD
  replicaCount: 1
=======
  model_url: https://github.com/doda25-team7/model-service/releases/download/model-v.0.0.1/model.joblib
>>>>>>> origin/main

ingress:
  className: nginx
