app:
  name: app-service
  image: ghcr.io/doda25-team7/app-service:latest
  tag: latest
  port: 8080
  host: doda.local
  replicaCount: 1

model:
  name: model-service
  image: ghcr.io/doda25-team7/model-service:latest
  port: 8081
  model_url: https://github.com/doda25-team7/model-service/releases/download/model-v.0.0.1/model.joblib
  replicaCount: 1

ingress:
  className: nginx

monitoring:
  enabled: true
  prometheusRelease: "" # No longer needed as we use Release.Name, but keeping for compatibility if referenced elsewhere

kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      serviceMonitorSelectorNilUsesHelmValues: false
      # serviceMonitorSelector defaults to matching release label, which is what we want.
  grafana:
    enabled: true
    sidecar:
      dashboards:
        enabled: true
        label: grafana_dashboard
        searchNamespace: ALL
  alertmanager:
    enabled: true