app:
  name: app-service
  image: ghcr.io/doda25-team7/app-service:latest
  port: 8080
  host: doda.local

model:
  name: model-service
  image: ghcr.io/doda25-team7/model-service:latest
  port: 8081

replicaCount: 1